<?xml version="1.0"?>

<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <!--  以下 是配置 日志记录-->
  <log4net>
    <appender name="LogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="log\\log.log" />
      <rollingStyle value="Date" />
      <datePattern value=".yyyyMMdd&quot;.log&quot;" />
      <maximumFileSize value="10MB" />
      <param name="AppendToFile" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%n%d [%t] %-5p %c - %m  %thread" />
      </layout>
    </appender>
    <logger name="log">
      <level value="ALL"></level>
      <appender-ref ref="LogFileAppender"/>
    </logger>
  </log4net>

</configuration>
