##############################
## Folders                  ##
##############################
target
bin
obj
Debug
Release
x86
x64
.svn
.vs

##############################
## Netbeans conf            ##
##############################
nb-configuration.xml
nbactions.xml


##############################
## Netbeans file            ##
##############################
*.a
*.o
*.lo
*.la
*.al
*.so
*.so.[0-9]*
*.pyc
*.pyo
*.rej
*.suo
*.user
*.class
[Tt]humbs.db